@import 'mixins';

.left_panel {
	a {
		color: #000;
		border-bottom: 1px dashed #000;
		text-decoration: none;
		&:hover {
			border-bottom-style: solid;
		}
	}
}
.right_panel {
	a {
		color: #FFF;
		border-bottom: 1px dashed #FFF;
		text-decoration: none;
		&:hover {
			border-bottom-style: solid;
		}
	}
}

.stacked_links {
	a {
		.hoverable_item();
		display: block;
		.link_text {
			line-height: 24px;
			margin-left: 10px;
		}
		padding: 5px 20px;
		border: 0px;
	}
}