@import 'mixins';

ul.items {
	list-style: none;
	padding: 0px;
	margin: 0px;
	li {
		.hoverable_item();
		.image {
			float: left;
			margin-right: 5px;
		}
		.item_content_right_pane {
			float: left;
			width: 254px;
		}
	}
}

ul.main_list {
	padding: 0px;
	li {
		line-height: 26px;
		margin-top: 10px;
		padding: 2px 0px 5px 55px;
		font-size: 20px;
		list-style-type: none;
		background: url('../../assets/images/icons/main_list.png') 0px 0px no-repeat;
		.text_shadow;
	}
}

/* portfolio */
.portfolio {
	.item {
		float: left;
		padding: 8px;
		width: 238px;
		margin-bottom: 40px;
		.box_shadow(0px 0px 5px #000);
		.radius();
		.cover {
		}
		.image {
			width: 238px;
			height: 180px;
			.radius(4px);
			.box_shadow(0px 0px 10px #000 inset);
			&.crazychums {
				background: url('/app/assets/images/sites/crazychums.gif');
			}
			&.sureify {
				background: url('/app/assets/images/sites/sureify.gif');
			}
			&.startup_quotient {
				background: url('/app/assets/images/sites/startup_quotient.gif');
			}
			&.autocube {
				background: url('/app/assets/images/sites/autocube.gif');
			}
			&.learnsocial {
				background: url('/app/assets/images/sites/learnsocial.gif');
			}
			&.vadaanya {
				background: url('/app/assets/images/sites/vadaanya.gif');
			}
			&.snakemania {
				background: url('/app/assets/images/sites/snake.gif');
			}
			&.fly {
				background: url('/app/assets/images/sites/fly.gif');
			}
			&.e_commerce {
				background: url('/app/assets/images/sites/e_commerce.gif');
			}
			&.dark_design {
				background: url('/app/assets/images/sites/dark_design.jpg');
			}
		}
		.description {
			margin-top: 5px; 
		}
	}
	/* panel styling */
	&.left {
		.item {
			background: #333;
			color: #FFF;
			margin-left:32px;
			margin-right:18px;
		}
		.description {
			.text_shadow(2px 2px 2px #000);
		}
	}
	&.right {
		.item {
			background: #C8C8C8;
			color: #333;
			margin-left:28px;
			margin-right:28px;
			&.first {
				margin-top: 47px;
			}
		}
		.description {
			.text_shadow(2px 2px 2px #777);
		}
	}
}
.beautify_params {
	margin-bottom: 10px;
}

/* portfolio */