/*arrows*/
.css_sprites {background-image:url('../../assets/images/css_sprites.png');}
.up_arrow {background:center 0px 0px;width:22px;height:16px;}
.down_arrow {}
.left_arrow {}
.right_arrow {}
/*arrows*/
